/* adding google fonts  */
@import url('https://fonts.googleapis.com/css2?family=Piazzolla:wght@200;300;400;900&family=Yuji+Hentaigana+Akari&display=swap');
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Piazzolla', serif;

}
/* creating color */
:root{
    --main_bg:#1e272e;
    --main-color:#0097e6;
}
/* setting the whole html font size */
html{
    font-size: 62.5%;
}
.main_menu{
    background-color: var(--main_bg);
}
.navbar{
    color: #fff;
    background-color: var(--main_bg);
    padding: 2rem 0;
}
.navbar a{
    color: #fff;
    font-size: 1.8rem;
}
.navbar-toggler{
    background-color: #fff ;
}
.navbar li{
    margin-left: 2rem;
}
.navbar a:hover{
    color: var(--main-color);
}
.fa-snowflake{
    transition: all linear;
    animation: rot 2s linear infinite;
    color: var(--main-color);
}
/* creating animatiom */
@keyframes rot{
     /* form{

     }
     to{
         
    } */


    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
/* body design */
.main_header_left{
    height: 70rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}
.main_header_right{
    height: 70rem;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

}


.main_header_left p{
    font-size: 2rem;
}
.main_header_left h1{
    font-size: 4rem;
    margin: 1rem 0 4rem 0;
    text-transform: capitalize;
}
.main_header_left .text-color{
    color: var(--main-color);
}
.main_header_left button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000 ; 
    outline: none;
}

.main_header_left button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color) ; 
    
}
/* footer design */
footer{
    width: 100%;
    background-color: var(--main_bg);
    /* ye tab kaam karega jab body flex set karenge direction column */
    margin-top: auto;

}
footer p{
    margin: 0;
    text-align: center;
    color: #fff;
    line-height: 5rem;
    font-size: 1.4rem;

}
/* footer ko end me lana ha */
body{
    height: 100vh;
    display: flex;
    flex-direction: column;

     
}

/* responsive code */
@media(max-width:768px) {
    .main_header_left{
        height: auto;
        margin-top: 5rem ;

    }
}
.main_header_right figure img{
    filter: drop-shadow(0 0.5rem 3rem rgba(0,0,0,0.3));
}

/* 404 page */
.error_img img{
    width: 120rem;
height: 50rem;
}
/* for error page button */
.main_header_right button{
    border: none;
    padding: 0.8rem 1.8rem;
    font-size: 1.4rem;
    border-radius: 2rem;
    text-transform: uppercase;
    box-shadow: 0 8px 6px -6px #000 ; 
    outline: none;
}
.main_header_right button:hover{
    box-shadow: 0 8px 6px -6px var(--main-color) ; 
    
}

/* wheather page style */
.temp_info{
    width: 40rem;
    margin: auto;
    min-height: 20rem;
    background-color: #323544;
    border-radius: 1rem;
    padding: 1 rem;
    font-family: "Roboto",sans-serif; 
}
.top_layer{
    width: 100%;
    height: 20%;
    background-color: rgb(24, 8, 8);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 1 rem;

}
.top_layer p{
    font-size: 2rem;
color: #fff;
font-weight: 300;
padding: 2rem;
}
.main_layer{

    padding: 2rem;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
.main_layer #university_name,.city_name{
    padding: 2rem 0;
    color: aliceblue;
    font-weight: 300;
    font-size: 2rem;
}
.main_layer #site_link{
    padding: 2rem 0;
    color: aliceblue;
    font-weight: 300;
    font-size: 2rem;
}
.main_layer .middle_layer{
    display: flex;
   justify-content: space-around;
   color: #fff;
}
.main_layer .middle_layer p{
    font-size: 5rem;
}
.fas{
    color: blue;
}

/* for serach form */
.temp_form{
    width: 60%;
    position: relative;
    margin: 5rem auto;
}
.temp_form input[type="text"]{
    width: 100%;
    padding: 2rem 5rem 2rem 2rem;
    background: #292a35;
    color: white;
    outline: none;
    border: none;
    font-size: 1.7rem;
    border-radius: 3rem;
    
}
::placeholder{
    color: aliceblue;
}
.temp_form input[type="submit"]{
   position: absolute;
   top: 5px;
   right: 5px;
   bottom: 5px;
   border: none;
    padding: 0rem 3rem ;
    background: #0013e0;
    color: white;
 font-size: 1.6rem;
  
    border-radius: 3rem;
    
}
.temp_form input[type="submit"]:hover{
    background-color: white;
    color: #0013e0;;
}

.data_hide {
    visibility: hidden;
    transition: all 0.3s linear;
  }